
.new_fence{
	position: absolute;
	top: 18px;right: 18px;left: 18px;bottom: 18px;
	.content{
		position: absolute;
		top: 80px;
		bottom: 50px;
		left: 0;right: 0;
		&>div{
			width: 100%;
			height: 100%;
			// text-align: center;
			// line-height:400px;
			overflow: hidden;
		}
		.newfenceName{
			position: relative;
			.nameContent{
				font-size: 14px;
				position: absolute;
				top: 30%;
				left: 50%;
				transform:translate(-50%,-50%) !important;
				animation:none;
				transition: none;
			} 
			p{
				margin: 0 auto;
				text-align: center;
				padding:15px;
				span{
					margin-right:10px;
					width: 100px;
					text-align: right;
					height: 32PX;
					line-height: 32px;
					float: left
				}
				textarea{
					font-size: 12px;
					padding:7px;
				}
			}
			
		}
		.newfenceUser{
			width: 800px;
			margin:0 auto;
		}
		.newfenceFinish{
			position: relative;
			.creating,.completed{
				position: absolute;
				top: 30%;
				left: 50%;
				transform: translate(-50%,-50%);
				transition: none;
				animation: none; 
				h1{margin:20px 0;}
				&>p{
					font-size: 14px;
					.toDistrictFence{
						cursor: pointer;
						color: #2d8cf0;
					}
				}
				
			}
		}
	}
	.footer{
		position: absolute;
		bottom: 0;
		right: 0;
		.ivu-btn{
			margin-left: 15px;
		}
	}
}